<div ng-controller="AddCtrl" >
    <h1>Add new</h1>
    <form id="editform" role="form">
        <div class="row education">
            <div class="col-md-7"><input type="text" ng-model="education.name" placeholder="" class="form-control"></div>
            <div class="col-md-4" ng-controller="DatepickerCtrl"><p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="education.entrance_date" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p></div>
            <div class="col-md-1"><button class="btn btn-circle" ng-click="addEducation()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></div>
        </div>
        <div class="row education">
            <div class="col-md-7"><select ng-model="education.graduate" class="form-control">
                <option value="m">Master</option>
                <option value="e">Expert</option>
                <option value="b">Bachelor</option>
                </select>
            </div>
            <div class="col-md-4" ng-controller="DatepickerCtrl"><p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="education.graduate_date" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p></div>
            <div class="col-md-1"><button class="btn btn-circle" ng-click="closeEditor()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></div>
        </div>
    </form>
</div>