<div ng-controller="MainCtrl" >
    <h1>Education</h1>
    <h3>
        <a ui-sref="add">Add new</a>
    </h3>
    <div ng-model="educations">
        <div class="row education"  ng-repeat="education in educationList">
            <div class="row">
                <div class="col-md-7"><h4>{{ education.name }}</h4></div>
                <div class="col-md-4 dates"><h4>{{ education.entrance_date | date:'dd.MM.yyyy' }} - {{ education.graduate_date | date:'dd.MM.yyyy' }}</h4></div>
                <div class="col-md-1"><button class="btn btn-circle" ui-sref="education.detail({ id: education.id })"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></div>
            </div>
            <div class="row">
                <div class="col-md-2 dates"><h4>{{ education.graduate_name }}</h4></div>
                <div class="col-md-1 col-md-offset-9"><button class="btn btn-circle" ng-click="removeEducation()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></div>
            </div>
        </div>
        <div ui-view></div>
  </div>
</div>