<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Education</title>
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body ng-app="app">
  {% verbatim %}
  <div ui-view class="inner"></div>
  {% endverbatim %}
  <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
  <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
  <script src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
  <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/controllers.js' %}"></script>
  <script src="{% static 'js/services.js' %}"></script>
</body>
</html>